<div class="list-group-item shadow rounded py-4 mb-3 item"> 
    <div class="w-100 py-2 d-flex align-items-center">
        <div class="status mr-3"  [style.background-color]="getColor()"></div>
        {{ getStatus() ? 'actif' : 'inactif' }}
    </div>
    <div class="w-100">
        <span class="py-3 container-fluid">
            {{ now | async | date : 'short' }}
        </span>
    </div>
    I'm an item of the list <br>
    named : {{ getName() }} <br>
    description: {{ getDescription() }} <br>
    <div class="w-100 py-4 content-input">
        <input type="text" class="form-control" [(ngModel)]="itemName">
    </div>
    <div class="w-100 d-flex justify-content-end align-items-center pr-4">
        <button class="btn-success btn mr-3" [disabled]="active" (click)="activeItem()"> active </button>
        <button class="btn-danger btn" [disabled]="!active" (click)="desactiveItem()"> desactive </button>
    </div>
</div>