.item{
    border-top: 0px solid var( --success );
}

.content-input input{
    max-width: 300px;
    box-shadow: none !important;
    border-color: #DDDDDD !important;
}

.status{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #000000;
}