<div class="w-100 h-100 position-absolute content-page d-flex flex-column">
    <div class="w-100 bg-success py-5 text-white header d-flex flex-column justify-content-center align-items-center"> 
        <div class="container-fluid d-flex align-items-center menu">
            <div class="d-flex">
                <a routerLink="auth" class="text-white px-3"> Authentification </a>
            </div>
            <div class="d-flex">
                <a routerLink="items" class="text-white px-3"> Items list </a>
            </div>
            <div class="d-flex">
                <a routerLink="add" class="text-white px-3"> Add item </a>
            </div>
        </div>
        <span class="py-3 pt-5"> Welcome !!  </span>
    </div>
    <router-outlet></router-outlet>
</div>