<div class="content-test container-fluid bg-light d-flex flex-column py-4">
    <div class="w-100"> - Fr@nckkk Pertinent </div>
    <div class="w-100 px-3 px-sm-4 px-md-5 content-items py-5">
        <app-item 
            itemName="item1"
            *ngFor="let item of items; let i = index"
            [itemName]="item.name"
            [itemDescription]="item.description"
            [active]="item.active"
            [index]="i"
        ></app-item>
    </div>
    <div class="w-100 d-flex justify-content-end align-items-center pr-4">
        <button class="btn-success btn mr-3" [disabled]="isAllActived()" (click)="allActived()"> active all </button>
        <button class="btn-danger btn" [disabled]="isAllDesactived()" (click)="allDesactived()"> desactive all </button>
    </div>
</div>
